{proglang, erlang}.
{extras, [
    {<<"doc/src/extras/webui_api.md">>, [{title, <<"WebUI">>}]},
    {<<"apps/mig/priv/CHANGELOG.md">>, [{title, <<"Changelog">>}]},
    {<<"doc/src/extras/README.md">>, [{title, <<"Overview">>}]},
    {<<"CHANGELOG.md">>, [{title, <<"Changelog">>}]},
    {<<"LICENSE.md">>, [{title, <<"License">>}]}
]}.
{groups_for_extras, [
    {<<"User Interface">>, [
        <<"doc/src/extras/webui_api.md">>,
        <<"apps/mig/priv/CHANGELOG.md">>
    ]}
]}.
{main, <<"readme">>}.
{logo, <<"doc/src/assets/logo.png">>}.
{cover, <<"doc/src/assets/cover.png">>}.    % Path to the epub cover image
{assets, #{<<"doc/src/assets">> => <<"assets">>}}.
{homepage_url, <<"https://github.com/0mega3/mig">>}.
{source_url, <<"https://github.com/0mega3/mig">>}.
{with_mermaid, true}.
