{erl_opts, [{i, "include"},
            debug_info,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_missing_spec,
            warn_untyped_record
           ]}.
{deps, [{cowboy, "2.13.0"},
        {cowlib, "2.15.0"},
        {gun, "2.2.0"},
        {jsx, "3.1.0"}
       ]}.

{project_plugins, [rebar3_ex_doc]}.
{ex_doc, "docs.config"}.
{edoc_opts, [{preprocess, true},
             {includes, ["apps/mig/src"]}]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{relx, [{release, { mig, "0.1.0" },
         [mig,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},
        {mode, minimal},
        {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]}.

{dialyzer, [{warnings, [error_handling,
                        extra_return,
                        missing_return,
                        unmatched_returns,
                        unknown,
                        specdiffs]},
            {get_warnings, true},
            {plt_apps, all_deps}
           ]}.

{eunit_tests, [{module, mig_tests}]}.
